#img_perso {	
	height:200px;
}

#img_aforp {
	height:150px;
    width:190px;
}

#img_spallis {
	height:180px;
}

.dl_content {
	padding-top:15px;
}

.option_tab {
	padding-left:3em
}

#infoPerso {
    margin-left:50px;
}